@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

body {
  font-family: sans-serif, 'Roboto', system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}

.container-main{
  display: grid;
  grid-template-columns: 1fr 4fr repeat(3, 0);
  grid-template-rows: 1fr 4.5fr repeat(3, 0);
  gap: 5px;
}

.sidebar img{
  width: 25px;
  height: 25px;
  grid-row: 1 ;
}

ul li{
  padding: 7px 0;
  list-style: none;
  font-size: 18px;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  justify-content: start;
  align-items: center;
  font-family: "Roboto", sans-serif;

}

div.titulo-sidebar {
  padding-left: 0px;
  }

.primera-lista, .segunda-lista, .titulo-sidebar{
  padding-left: 20px;
}

.titulo-sidebar > ul > li{
  font-size: 25px;

}

ul.titulo-sidebar > li:nth-child(1) > img:nth-child(1) {
  width: 40px;
  height: 40px;
}

.sidebar{
  padding: 0.5em;
  grid-column: 1;
  background-color: rgb(44, 172, 231);
  text-align: left;
  color: white;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  grid-area: 1 / 1 / 6 / 2;

}

.container-header{
  background-color: rgb(255, 255, 255);
  grid-area: 1 / 2 / 3 / 6;

  height: 200px;
}

header{
  background-color: white;
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  
}

.barra-buscadora{
  flex-grow: 2;
  height: 18px;
  border: none;
  border-radius: 10px;
  background-color: rgb(222, 232, 240);
}

.info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  padding: 2px;
  font-family: "Georgia" sans-serif;
  font-weight: bold;
  font-size: 18px;
}

header img{
  width: 23px;
  height: 23px;
}

.subheader{
  grid-column: 2;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.subheader img{
  width: 60px;
  height: 60px;
  padding: 10px;
}

.saludo{
  font-weight: bold;
}

.botones-subheader{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.botones-subheader button{
  margin-right: 20px;
  background: #15acf1;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  align-self: center;
  border: none;
}

.container-central{
  background-color: rgb(239, 239, 245);
  display: grid;
  grid-area: 2 / 2 / 6 / 2;
  grid-template-columns: 2fr 1.5fr; /*columna 2fr de proyectos y columna 1fr de anuncios y trend*/
  gap: 2px;
}

.proyectos{
  background-color: rgb(239, 239, 245);
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 330px);
  grid-template-rows: repeat(3, 195px);
  gap: 10px;
}

.proyectos > div{
  padding: 1em;
  border-left: 10px solid orange;
  border-radius: 10px;
  font-size: 15px;
  background-color: white;
}

.iconos-proyectos img{
  width: 30px;
  height: 30px;
  float: right;
}

.anuncio{
  text-align: left;
  margin-bottom: 6px;
  background-color: white;
  border-style: none;
  font-size: 13px;
  border-radius: 10px;
  padding: 5px;
  width: 60%;
  margin-left: 70px;
}

.titulos-anuncios{
  font-size: 17px;
  font-weight: bold;
}

.anuncio > p:not(.titulos-anuncios){
  border-bottom-style: solid;
  border-width: 2px;
}

.contenedor-trending{
  margin-bottom: 6px;
  background-color: white;
  border-style: none;
  font-size: 13px;
  border-radius: 10px;
  padding: 5px;
  width: 60%;
  margin-left: 70px;
  padding: 7px 0;
  font-size: 18px;
  display: flex;
flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.contenedor-trending > img{
  width: 20px;
  height: 20px;
}